menu "Iot Planter Configuration"
    config AWS_IOT_CLIENT_ID
        string "AWS IoT Client ID"
        default "testThing"
        help
            AWS IoT Client ID. Should be unique for every device.

    config AWS_IOT_THING_NAME
        string "AWS IoT Thing Name"
        default "testThing"
        help
            AWS IoT Thing Name. Should be unique for every device.
endmenu